/*
 * rare
 * Date: 2026-06-10
 * Generated: 2026-06-10T07:03:31.400Z
 * Responsive Design System — RarePixels
 */

@media (max-width: 1799px) {
 .container { max-width: calc(1360px + 36px); }   .section   { padding: 130px 0px; }
  h1, .h1{ font-size: 60px; line-height: 68px; }
  h2, .h2{ font-size: 44px; line-height: 52px; }
  h3, .h3{ font-size: 38px; line-height: 46px; }
  h4, .h4{ font-size: 32px; line-height: 40px; }
  h5, .h5{ font-size: 28px; line-height: 36px; }
  h6, .h6{ font-size: 22px; line-height: 30px; }

  .hm-services-content-wrapper .h6{ font-size: 20px; line-height: 28px; }
  .hm-services-content-wrapper{ width: 420px; }
  .home-hero-banner-image{ width: 450px; top: -90px; right: 440px; }
  .home-hero-banner-image img{ object-fit: contain; }
  .hm-hero-row-1-wrapper{ margin-bottom: 0; }
  /* .home-hero-wrapper-desktop{ gap: 30px; } */
  .hm-hero-text-left{ width: 460px; }
  .home-heart{ width: 400px; }
  .hm-services-subtitle{ width: 100%; }

  /* .hm-testimonial-left-text{ width: 480px; } */
  .hm-testimonial-left-text p{ width: 760px; }
  .testimonial-review-wrapper{ margin-top: 40px; }
  .testimonial-cards-wrapper{ width: 760px; }
  .testimonial-image-2{ width: 160px; height: 160px; }
  .testimonialreview-main img{ width: 100%;height: 100%; object-fit: contain; }
  .testimonialreview-main{ padding: 14px; width: 440px; height: 440px; }
  .testimonial-client-text{ font-size: 16px; line-height: 24px; }
  .client-initital .h6{ font-size: 20px; line-height: 28px; }

  .hm-abt-text-wrapper p{ width: 760px; }
  .hm-abt-pointers-right{ width: 785px; }
  .hm-abt-card-title{ width: 317px; }
  .hm-abt-card{ width: 377px; height: 230px; }
  .hm-abt-logo-left img{ width: 250px; height: auto; }
  .hm-abt-pixel{ margin-top: 10px; }

  .abt-grid-wrapper{ grid-template-rows: repeat(25, 21px); grid-template-columns: repeat(65, 21px);}
  
  /* header */

  .navbar-links ul li{ padding: 0 15px; }
  .nav-logo{ width: 150px; height: auto; }
}

@media (max-width: 1599px) {
 .container { max-width: calc(1248px + 36px); }   .section   { padding: 90px 0px; }
  h1, .h1 { font-size: 52px; line-height: 60px; }
  h2, .h2 { font-size: 42px; line-height: 50px; }
  h3, .h3 { font-size: 34px; }
  h4, .h4 { font-size: 32px; }
  h5, .h5 { font-size: 28px; }
  h6, .h6 { font-size: 22px; }

  .text-18 { font-size: 16px; line-height: 22px; }
  .text-20{ font-size: 18px; line-height: 24px; }

  .hm-services-content-wrapper .h6{ font-size: 18px; line-height: 26px; }
  .hm-services-content-wrapper{ width: 400px; }
  .hm-hero-text-left{ width: 455px; }
  .hm-hero-paragraph-wrapper{ gap: 15px; }
  .home-hero-banner-image{ right: 420px; width: 427px; }
  .home-heart{ width: 350px;height: max-content; object-fit: contain; }
  .home-hero-banner-image{ height: 440px; }

  /* testimonial section */
  .testimonial-review-wrapper{ margin-top: 20px; }
  .hm-testimonial-left-text p{ width: 700px; }
  

  /* .hm-testimonial-left-text{ width: 455px; } */
  /* .testimonial-stats p{ font-size: 18px; line-height: 26px; } */
  .hm-testimonial-txt-wrapper{ justify-content: flex-start; gap: 100px; }

  .testimonialreview-main{ width: 400px; height: 400px; }
  .testimonial-image-2{ width: 140px; height: 140px; }
  .testimonial-image-3{ width: 100px; height: 100px; }
  .testimonial-cards-wrapper{ width: 700px; }
  .client-initital .h6{ font-size: 18px; line-height: 26px; }

  .hm-abt-text-wrapper p{ width: 750px; }
  .hm-abt-card-wrapper{ margin-top: 30px; }
  .hm-abt-pointers-right{ width: 750px; gap: 20px; }
  .hm-abt-card{ width: 365px; height: 220px; }
  .hm-abt-card-title .h6{ width: 90%; }
  .hm-abt-card-title{ width: 300px; }
  .hm-abt-text-wrapper h2{ width: 350px; }
  /* .hm-abt-logo-left{ padding-left: 40px; } */
  .hm-abt-logo-left{ width: 200px; height: max-content; }

  .abt-grid-wrapper{ grid-template-rows: repeat(20, 21px); grid-template-columns: repeat(60, 21px);}

  /* header */
  .nav-logo{ width: 140px; }
  .mode-switching-toggle-button img{ width: 18px; height: 18px; }
  .navbar-links ul{ padding: 10px 8px; }
  .mode-switching-toggle-button{ padding: 11px; }
  .navbar-links ul li{ padding: 0 12px 0 15px; }
  .hm-hero-paragraph-wrapper{ padding-bottom: 30px; }
  .hm-services-content-wrapper{ margin-bottom: 20px; }
  .hm-hero-row-1-wrapper{ margin-top: 40px; }
}

@media (max-width: 1439px) {
 .container { max-width: calc(1056px + 36px); }   
  h1, .h1 { font-size: 46px; line-height: 54px; }
  h2, .h2 { font-size: 36px; line-height: 44px; margin-bottom: 16px; }
  h3, .h3 { font-size: 34px; }
  h4, .h4 { font-size: 32px; }
  h5, .h5 { font-size: 28px; }
  h6, .h6 { font-size: 20px; line-height: 28px; }

  .text-20{ font-size: 16px; line-height: 22px; }
  .text-18{ font-size: 14px; line-height: 20px; }

  .hm-hero-stats-wrapper{ gap: 50px; }
  .hm-services-content-wrapper .h6{ font-size: 16px; line-height: 22px; }
  .hm-services-content-wrapper{ margin-bottom: 20px; width: 350px; padding-left: 12px;  }
  .hm-hero-row-1-wrapper{ margin-top: 40px; }
  .home-hero-banner-image{ width: 400px; height: auto; object-fit: contain; right: 325px; top: -35px; }
  .home-heart{ width: 280px; object-fit: contain; }
  .home-brain{ width: 350px; object-fit: contain; }
  .home-handshake{ width: 350px; height: auto; object-fit: contain; }
  .home-hero-banner-image{  width: 400px; height: 300px; right: 330px; object-fit: contain; }
  .hm-hero-subtitle{ padding-bottom: 30px; }
  .hm-hero-redirect-link img{ width: 20px; height: 20px; }
  .hm-hero-text-left{ width: 400px; }

  /* testimonial */
  .hm-testimonial-left-text h2{ width: 380px; }
  .hm-testimonial-left-text p{ width: 625px; }
  .testimonial-cards-wrapper{ width: 625px; }
  .client-initital .h6{ font-size: 16px; line-height: 24px; }
  .testimonial-svg{ width: 20px; height: 20px; }
  .tst-swiper-arrow-wrapper{ margin-top: 30px; }
  .testimonial-swiper-arrow{ padding: 10px; border-radius: 12px; }
  .client-initital span{ display: flex; align-items: center; justify-content: center; padding: 10px 12px; border-radius: 12px; }
  .client-initital .h6{ font-size: 14px; line-height: 20px; }
  .hm-testimonial-txt-wrapper{ gap: 55px; }
  .testimonialreview-main{ width: 300px; height: 300px; }
  .testimonial-image-2{ width: 100px; height: 100px; }
  .testimonial-image-3{ width: 80px; height: 80px; }

  /* about us */
  .hm-abt-logo-left{ width: 170px; margin-left: 40px; }
  .hm-abt-pointers-right{ width: 650px; gap: 20px; }
  .hm-abt-text-wrapper p{ width: 525px; }
  .hm-abt-card{ width: 315px; height: 225px; }
  .hm-about-main{ padding: 30px; }

  .hm-abt-logo-left img{ width: 210px; }
  /* .hm-abt-logo-left{ padding-left: 30px; } */
  .hm-abt-card-title{ width: 255px; }

  .hm-abt-text-wrapper p{ width: 635px; }
  .abt-grid-wrapper{ grid-template-rows: repeat(37, 19px); grid-template-columns: repeat(56, 19px);}
  .abt-background-grid{ width: 19px; height: 19px; }

  /* header */

  .navbar-links-wrapper{ gap: 15px; }
}

@media (max-width: 1359px) {
 .container { max-width: calc(960px + 36px); }   .section   { padding: 80px 0px; }
  h1, .h1{ font-size: 40px; line-height: 48px; }
  h2, .h2{ font-size: 32px; line-height: 40px; }
  h3, .h3{ font-size: 32px; }
  h4, .h4{ font-size: 32px; }
  h5, .h5{ font-size: 28px; }
  h6, .h6{ font-size: 22px; }
  .text-20{ font-size: 16px; line-height: 20px; }
  .text-14{ font-size: 12px; line-height: 20px; }

  .home-hero-banner-image{ right: 350px; width: 300px; align-items: flex-start; margin-top: 50px; }
  .hm-services-subtitle.show{ padding-top: 8px; }
  .home-brain{ width: 300px; object-fit: contain; }
  .home-heart{ width: 240px; object-fit: contain; }
  .hm-services-title img{ width: 18px; }
  .hm-services-content-wrapper{ width: 320px; margin-bottom: 15px; }
  .hm-hero-row-1-wrapper{ margin-top: 50px; align-items: flex-start; }
  .hm-hero-text-left h1{ margin-bottom: 16px; }
  .hm-hero-subtitle{ padding-bottom: 25px; }
  .hm-hero-text-left{ width: 360px; }
  .hm-hero-paragraph-wrapper{ gap: 12px; padding-bottom: 20px; }

  /* testimonial */
  /* .hm-testimonial-left-text{ width: 350px; } */
  .hm-testimonial-left-text h2{ width: 350px; }
  .hm-testimonial-left-text p, .testimonial-cards-wrapper{ width: 560px; }

  .testimonial-client-text{ font-size: 12px; line-height: 20px; }
  .testimonialreview-main{ width: 290px; height: 290px; }
  .testimonial-image-2{ width: 80px; height: 80px; bottom: 40px; }
  .testimonial-image-3{ width: 60px; height: 60px; top: 40px; }

  .tst-swiper-arrow-wrapper{ margin-top: 35px; }

  /* About Section */
  .hm-abt-text-wrapper h2{ width: 265px; }
  .hm-abt-text-wrapper p{ width: 580px; }

  .hm-about-main{ padding: 20px; }
  .hm-abt-logo-left img{ width: 175px; }
  .hm-abt-card-title .h6{ font-size: 20px; line-height: 26px; margin-bottom: 12px; }
  .hm-abt-card-title{ width: 222px; }

  .hm-abt-card-wrapper{ margin-top: 20px; }
  .hm-abt-card{ width: 280px; height: 225px; }
  .hm-abt-pointers-right{ width: 580px; }

  .testimonial-stats{ width: 120px; }

  .abt-grid-wrapper{ grid-template-rows: repeat(30, 19px); grid-template-columns: repeat(51, 19px);}

  /* header */
  .navbar-links ul li{ padding: 0 6px 0 15px; }
  .navbar-links ul li:nth-last-child(1){ padding-right: 15px; }
  .mode-switching-toggle-button img{ width: 16px; height: 16px; }
  .nav-logo{ width: 120px; }
  .nav-logo img{ width: 100%; height: 100%; object-fit: cover; }
} 

@media (max-width: 1199px) {
 .container { max-width: calc(800px + 36px); }  
  h1, .h1{ font-size: 46px; line-height: 54px; }
  h2, .h2{ font-size: 40px; line-height: 48px; }
  h3, .h3{ font-size: 32px; }
  h4, .h4{ font-size: 32px; }
  h5, .h5{ font-size: 28px; }
  h6, .h6{ font-size: 22px; }

  .text-18{ font-size: 18px; line-height: 26px ; }

  .hm-hero-text-left{ width: 495px; }
  .for-desktop{ display: none; }
  .hm-services-paragrph{ opacity: 1; }
  .hm-services-content-wrapper{ display: flex; align-items: center; text-align: center; justify-content: center; flex-direction: column; gap: 10px; opacity: 1; }
  .hm-hero-row-1-wrapper{ flex-direction: column; gap: 20px; justify-content: space-between;  align-items: flex-start; width: 100%; }
  .home-hero-services-highlight-wrapper{ flex-direction: column; margin-top: 10px; align-items: center; gap: 20px; width: 100%; justify-content: center; }
  .hm-services-content-wrapper .h6{ font-size: 26px; line-height: 34px; }
  .hm-services-title img{ width: 26px; }
  .hm-services-content-wrapper{ width: 435px;  }
  .hm-services-left{ width: 600px; height: 400px; position: relative; justify-content: center; }
  .home-hero-banner-image{ width: 600px; height: 350px; top: 0; left: 50%; position: static; }
  .home-hero-banner-image img{ width: 100%; height: 100%; object-fit: contain; }
  .home-hero-services-highlight-wrapper.for-tablet{ display: flex !important; }
  .home-hero-wrapper-desktop{ display: none; }
  /* .hm-hero-stats{ width: 100%; } */
  .hm-hero-text-left{ width: 100%; }
  .hm-hero-stats-wrapper{ gap: 45px; width: 100%; justify-content: space-between; margin-top: 10px; margin-bottom: 30px; }
  .hm-hero-text-left h1, .hm-hero-paragraph-wrapper{ width: 80%; }
  .hm-hero-row-1-wrapper{ margin-top: 0; }
  .home-hero-wrapper-tablet{ display: flex; }

  /* testimonial section */
  .hm-testimonial-left-text h2{ width: 100%; }
  .hm-testimonial-left-text{ flex-direction: column; }
  .testimonial-stats{ width: 180px; }

  .hm-testimonial-txt-wrapper{ flex-direction: column; gap: 30px; }
  /* .hm-testimonial-left-text{ width: 90%; } */

  .testimonial-review-video-wrapper{ width: 450px; }
  .testimonial-review-wrapper{ flex-direction: column; align-items: center; }
  .testimonial-cards-wrapper{ width: 100%; }
  .client-initital span.h6{ font-size: 14px; line-height: 18px; }
  .client-name-designation .text-18{ font-size: 12px; line-height: 12px; }

  .testimonialreview-main{ width: 450px; height: 350px; }
  .testimonialreview-main img{ object-fit: cover; border-radius: 20px; object-position: top; }
  .testimonial-image-2{ width: 140px; height: 140px; left: -60px; }
  .testimonial-image-3{ width: 120px; height: 120px; right: -60px; }

  /* .testimonial-stats p{ font-size: 18px; line-height: 26px; } */

  /* About Section */

  .hm-abt-text-wrapper{ flex-direction: column; }
  .hm-abt-text-wrapper h2{ width: 100%; margin-bottom: 14px; }
  .hm-abt-text-wrapper p{ width: 100%; }

  .hm-abt-card-wrapper{ flex-direction: column; margin-top: 30px; gap: 30px; }

  .hm-abt-pointers-right{ width: 100%; }
  .hm-abt-card{ width: 350px; height: 260px; }
  .hm-abt-card-title{ width: 310px; }
  .hm-abt-logo-left{ padding-left: 0; margin-left: 0; width: max-content; height: max-content; }

  .abt-grid-wrapper{ grid-template-rows: repeat(44, 19px); grid-template-columns: repeat(43, 19px);}
  .hm-about-main{ padding: 40px; }

  .testimonial-stats{ width: 100%; }
  .testimonial-stats-wrapper{ width: 100%; justify-content: space-between; }

  .navbar-links{ display: none; }
  .navbar-links-wrappers{ width: max-content; gap: 20px; }
  .hamburger-image{ padding: 14px; }
  .mode-switching-toggle-button{ padding: 14px; }
  .nav-logo{ width: 140px; }
  .mode-switching-toggle-button img{ width: 24px; height: 24px; }

  .hamburger-wrapper{ display: flex; }
  .menu-for-responsive{ display: flex; position: absolute; right: -100%; bottom: 72px; transition: all .5s ease-in; }
  .mobile-menu{ width: 424px; height: 284px; padding: 20px; }
  .mobile-menu ul{ display: flex; flex-wrap: wrap; flex-direction: column; gap: 20px; }

  .menu-links-wrapper{ display: flex; gap: 80px; padding-top: 10px; }
  .mobile-menu ul li a{ display: flex; align-items: center; gap: 10px; }
  .menu-cross-icon{ display: flex; width: 100%; justify-content: end; }
  .rare-pixel-square{ width: 6; height: 6; border-radius: 1px; background-color: var(--text-black); }

  .menu-for-responsive.active{ right: 100px; bottom: 72px; }
} 

@media (max-width: 1023px) {
 .container { max-width: calc(704px + 36px); }
  /* h1, .h1 { font-size: 60px; line-height: 68px; } */
  h2, .h2 { font-size: 38px; line-height: 46px; }
  h3, .h3 { font-size: 30px; }
  h4, .h4 { font-size: 32px; }
  h5, .h5 { font-size: 28px; }
  h6, .h6 { font-size: 22px; line-height: 30px; }

  .testimonial-client-text{ font-size: 16px; line-height: 24px; }

  .hm-abt-card{ width: 100%; height: 155px; }
  .hm-abt-card-title{ width: 100%; }

  .hm-abt-card-title .h6{ font-size: 22px; line-height: 30px; margin-bottom: 10px; }

  .abt-grid-wrapper{ grid-template-rows: repeat(60, 19px); grid-template-columns: repeat(37, 19px);}

  .hm-hero-stats{ width: 150px; }
  .hm-hero-paragraph-wrapper{ margin-top: 20px; }
}

@media (max-width: 991px) {
 .container { max-width: calc(704px + 36px); }
  h1, .h1 { font-size: 40px; line-height: 48px; }
  h2, .h2 { font-size: 34px; font-size: 40px; }
  h3, .h3 { font-size: 30px; }
  h4, .h4 { font-size: 28px; }
  h5, .h5 { font-size: 24px; }
  h6, .h6 { font-size: 22px; }

  .text-18{ font-size: 16px; line-height: 24px; }

  /* .hm-hero-text-left h1{ width: 400px; } */
  .hm-services-left{ width: 450px; height: 350px; }
  .home-hero-banner-image{ width: 450px; height: 350px; }
  /* .hm-hero-text-left{ width: 580px; } */
  .hm-services-content-wrapper .h6{ font-size: 24px; line-height: 32px; }

  .abt-grid-wrapper{ grid-template-rows: repeat(64, 19px); grid-template-columns: repeat(37, 19px);}
}

@media (max-width: 839px) {
 .container { max-width: calc(640px + 36px); }   .section   { padding: 60px 0px; }
  h1, .h1 { font-size: 38px; line-height: 46px; }
  h2, .h2 { font-size: 30px; line-height: 38px; }
  h3, .h3 { font-size: 30px; }
  h4, .h4 { font-size: 28px; }
  h5, .h5 { font-size: 24px; }
  h6, .h6 { font-size: 22px; }

  /* .home-hero-wrapper-desktop{ gap: 20px; } */
  .hm-services-left{ width: 400px; height: 280px; }
  .home-hero-banner-image{ width: 400px; height: 280px; }
  .hm-hero-row-1-wrapper{ gap: 0; }
  .hm-services-content-wrapper .h6{ font-size: 22px; line-height: 30px; }
  .hm-services-title img{ width: 22px; }
  .hm-testimonial-left-text p { width: 100%; }

  /* testimonial */
  .testimonialreview-main{ width: 400px; height: 280px; }
  .testimonial-image-2{ width: 110px; height: 110px; }
  .testimonial-image-3{ width: 100px; height: 100px; }

  .testimonial-review-video-wrapper{ width: 385px; }
  .abt-grid-wrapper{ grid-template-rows: repeat(69, 19px); grid-template-columns: repeat(34, 19px);}
  .hm-abt-card{ height: 150px; }
  .hm-abt-pixel{ margin-top: 11px; }
  .testimonialreview-main{ padding: 10px; }
}

@media (max-width: 767px) {
 .container { max-width: calc(608px + 36px); } 
  h1, .h1 { font-size: 36px; line-height: 44px; }
  h2, .h2 { font-size: 30px; line-height: 38px; }
  h3, .h3 { font-size: 30px; }
  h4, .h4 { font-size: 28px; }
  h5, .h5 { font-size: 24px; }
  h6, .h6 { font-size: 22px; }

  .text-18{ font-size: 16px; line-height: 24px; }
  .text-14{ font-size: 14px; line-height: 22px; }
  .hm-services-paragraph{ width: 80%; margin: 0 auto; }
  .hm-hero-stats-wrapper{ width: 100%; }
  .hm-hero-stats{ width: 140px; }
  .hm-hero-paragraph-wrapper{ width: 90%; }

  /* testimonial section */
  /* .testimonial-stats p{ font-size: 16px; line-height: 24px; } */
  .testimonial-stats-wrapper{ width: 100%; gap: 20px; justify-content: space-between; }
  .client-initital span{ width: 50px; height: 50px; }
  .client-initital .h6{ font-size: 18px; line-height: 26px; }
  .client-name-designation .text-18{ font-size: 14px; }
  .testimonial-review-wrapper{ gap: 30px; }
  .client-rating img{ width: 14px; height: 14px; }
  .testimonial-stats{ width: 169px; }

  /* About Section */
  .hm-about-main{ padding: 18px; }
  .hm-abt-card{ height: 155px; }

  .abt-grid-wrapper{ grid-template-rows: repeat(95, 12px); grid-template-columns: repeat(51, 12px);}
  .abt-background-grid{ width: 12px; height: 12px; }
}

@media (max-width: 639px) {
 .container { max-width: calc(560px + 36px); }
  h2, .h2 { font-size: 28px; line-height: 36px; }
  h3, .h3 { font-size: 30px; }
  h4, .h4 { font-size: 28px; }
  h5, .h5 { font-size: 24px; }

  .small-text   { font-size: 14px; }
  .hm-services-left{ width: 350px; height: 220px; }
  .home-hero-banner-image{ width: 350px; height: 220px; }
  .hm-services-content-wrapper .h6{ font-size: 20px; line-height: 28px; }
  .hm-hero-stats-wrapper { width: 100%; justify-content: space-between; }
  .hm-services-paragraph{ width: 100%; }
  .hm-hero-stats{ width: 135px; }
  /* .hm-testimonial-left-text{ width: 100%; } */

  /* About Section */
  /* .hm-about-main{ background-image: url(/images/homepage/abt-section-background-grid-mobile.png); background-size: cover; background-repeat: no-repeat; padding: 18px; } */
  
  .abt-grid-wrapper{ grid-template-rows: repeat(80, 12px); grid-template-columns: repeat(45, 12px);}
  .hm-abt-card{ height: 175px; }
  .testimonial-stats{ width: 160px; }
}

@media (max-width: 575px) {
 .container { max-width: calc(528px + 36px); }   .section   { padding: 50px 0px; }
  h1, .h1 { font-size: 34px; line-height: 42px; }
  h2, .h2 { font-size: 26px; line-height: 32px; }
  h3, .h3 { font-size: 28px; }
  h4, .h4 { font-size: 26px; }
  h5, .h5 { font-size: 22px; }
  h6, .h6 { font-size: 22px; }

  .small-text   { font-size: 14px; }
  .text-18{ font-size: 14px; line-height: 22px; }
  .hm-services-left{ width: 390px; height: 200px; }
  .home-hero-banner-image{ width: 390px; height: 200px; }
  .hm-hero-stats-wrapper{ margin-top: 0; gap: 20px; width: 100%; justify-content: space-between; }
  .hm-hero-stats{ width: 110px; }
  .link-padding{ padding: 6px 12px; }
  .hm-hero-paragraph-wrapper{ width: 100%; }

  /* .testimonial-stats p{ font-size: 14px; line-height: 22px; } */
  .testimonialreview-main{ width: 350px; height: 250px; }
  .testimonial-image-2{ width: 80px; height: 80px; left: 0; }
  .testimonial-image-3{ width: 80px; height: 80px; right: 0; }

  .hm-abt-card-title .h6{ font-size: 18px; line-height: 26px; margin-bottom: 6px; }
  .hm-abt-card{ padding: 14px; height: 145px; } 
  .hm-abt-pixel{ width: 6px; height: 6px; }

  .abt-grid-wrapper{ grid-template-rows: repeat(60, 12px); grid-template-columns: repeat(37, 12px);}
  .abt-section-wrapper {  mask-image: linear-gradient(to top, #0000, #000 3% 99%, #0000), linear-gradient(to right, #0000, #000 5% 96%, #0000); }

  .testimonial-stats{ width: 135px; }
}