/*
 * rare
 * Date: 2026-06-10
 * Generated: 2026-06-10T07:03:31.400Z
 * Responsive Design System — RarePixels
 */

@media (max-width: 1799px) {
 .container { max-width: calc(1360px + 36px); }   .section   { padding: 130px 0px; }
  h1, .h1{ font-size: 60px; line-height: 68px; }
  h2, .h2{ font-size: 44px; line-height: 50px; }
  h3, .h3{ font-size: 36px; line-height: 44px; }
  h4, .h4{ font-size: 32px; line-height: 40px; }
  h5, .h5{ font-size: 28px; line-height: 36px; }
  h6, .h6{ font-size: 22px; line-height: 30px; }

  .hm-services-content-wrapper .h6{ font-size: 20px; line-height: 28px; }
  .hm-services-content-wrapper{ width: 420px; }
  .hm-hero-row-1-wrapper{ margin-bottom: 0; }
  /* .home-hero-wrapper-desktop{ gap: 30px; } */
  .hm-hero-text-left{ width: 460px; }
  .home-heart{ width: 400px; }
  .hm-services-subtitle{ width: 100%; }

  /* .hm-testimonial-left-text{ width: 480px; } */
  .hm-testimonial-left-text p{ width: 760px; }
  .testimonial-review-wrapper{ margin-top: 40px; }
  .testimonial-cards-wrapper{ width: 760px; }
  .testimonial-image-2{ width: 160px; height: 160px; }
  .testimonialreview-main img{ width: 100%;height: 100%; object-fit: contain; }
  .testimonialreview-main{ padding: 14px; width: 440px; height: 440px; }
  .testimonial-client-text{ font-size: 16px; line-height: 24px; }
  .client-initital .h6{ font-size: 20px; line-height: 28px; }

  .hm-abt-text-wrapper p{ width: 760px; }
  .hm-abt-pointers-right{ width: 785px; }
  .hm-abt-card-title{ width: 317px; }
  .hm-abt-card{ width: 377px; height: 270px; }
  .hm-abt-text-wrapper h2{ width: 480px; }
  .hm-abt-logo-left img{ width: 250px; height: auto; }
  .hm-abt-pixel{ margin-top: 10px; }

  .services-card-wrapper{ margin-top: 40px; }
  .services-card{ width: 325px; height: 460px; }
  /* .services-text .h6{ font-size: 20px; line-height: 26px; } */
  .services-art-board{ width: 300px; height: 300px; }
  .services-detail-text{ margin-top: 30px; }
  .services-art-board img{ width: 100%; height: 100%; object-fit: contain; }


  .industries-image-wrapper{ width: 850px; height: 500px; }
  .industries-text-wrapper > span{ font-size: 70px; line-height: 80px; }
  .industries-text-wrapper{ width: 460px; height: 460px; }

  .hm-abt-card-wrapper{ margin-top: 40px; }

  .rare-logo-wrapper{ width: 160px; height: auto; }
  .rare-logo-wrapper img{ width: 100%; height: 100%; object-fit: contain; }
  .nav-theme-change-icon{ width: 50px; height: 50px; font-size: 30px; }
  .light-mode-hover-icon, .dark-mode-hover-icon{ width: 30px; height: 30px; }
  .navbar-hamburger-effect{ width: 55px; height: 55px; }
}

@media (max-width: 1599px) {
 .container { max-width: calc(1248px + 36px); }   .section   { padding: 90px 0px; }
  h1, .h1 { font-size: 52px; line-height: 60px; }
  h2, .h2 { font-size: 42px; line-height: 50px; }
  h3, .h3 { font-size: 34px; line-height: 42px; }
  h4, .h4 { font-size: 32px; }
  h5, .h5 { font-size: 28px; }
  h6, .h6 { font-size: 20px; line-height: 28px; }

  .text-18 { font-size: 16px; line-height: 22px; }
  .text-20{ font-size: 18px; line-height: 24px; }

  .hm-services-content-wrapper .h6{ font-size: 18px; line-height: 26px; }
  .hm-services-content-wrapper{ width: 400px; }
  .hm-hero-text-left{ width: 455px; }
  .hm-hero-paragraph-wrapper{ gap: 15px; }
  .home-heart{ width: 350px;height: max-content; object-fit: contain; }

  /* testimonial section */
  /* .testimonial-review-wrapper{ margin-top: 20px; } */
  .hm-testimonial-left-text p{ width: 700px; }
  

  /* .hm-testimonial-left-text{ width: 455px; } */
  /* .testimonial-stats p{ font-size: 18px; line-height: 26px; } */
  .hm-testimonial-txt-wrapper{ justify-content: flex-start; gap: 100px; }

  .testimonialreview-main{ width: 400px; height: 400px; }
  .testimonial-image-2{ width: 140px; height: 140px; }
  .testimonial-image-3{ width: 100px; height: 100px; }
  .testimonial-cards-wrapper{ width: 700px; }
  .client-initital .h6{ font-size: 18px; line-height: 26px; }

  .hm-abt-card-wrapper{ margin-top: 40px; }
  .hm-abt-pointers-right{ width: 790px; gap: 20px; }
  .hm-abt-card{ width: 385px; height: 205px; }
  /* .hm-abt-card-title .h6{ width: 90%; } */
  .hm-abt-card-title{ width: 325px; }
  .hm-abt-text-wrapper h2{ width: 350px; }
  /* .hm-abt-logo-left{ padding-left: 40px; } */
  .hm-abt-logo-left{ width: 200px; height: max-content; margin-left: 45px; }

  .hm-hero-paragraph-wrapper{ padding-bottom: 30px; }
  .hm-services-content-wrapper{ margin-bottom: 20px; }
  .hm-hero-row-1-wrapper{ margin-top: 40px; }

  /* .services-text .h6{ font-size: 18px; line-height: 26px; } */
  .services-detail-text{ gap: 8px; margin-top: 25px; }
  .services-card-wrapper{  margin-top: 40px; }
  .services-card{ width: 297px; height: 350px; }
  .services-text h3{ margin-bottom: 6px; }
  .services-text{ padding: 20px; }
  .services-art-board{ width: 220px; height: 220px; }
  .services-detail-text p:first-child{ height: 65px; }

  /* .industries-text-wrapper span{ font-size: 60px; line-height: 70px; } */
  .hm-abt-text-wrapper p{ gap: 16px; width: 900px; }
  .hm-abt-text-wrapper h2{ width: 90%; }
  .hm-abt-text-wrapper{ flex-direction: column; gap: 20px; }
  .hm-abt-card-title p{ gap: 16px; }

  .industries-text-wrapper > span{ font-size: 60px; line-height: 70px; }
  .industries-text-wrapper{ width: 380px; height: 380px; }
  .industries-text-wrapper p{ gap: 10px; }
  .industries-image-wrapper{ width: 820px; height: 450px; }
  .indus-box-50{ width: 40px; height: 40px; }
  .indus-box-40{ width: 30px; height: 30px; }
  .indus-box-30{ width: 20px; height: 20px; }
  .indus-box-2{ top: 80px; }
  .indus-box-3{ top: 40px; left: 40px; }
  .indus-box-4{ top: 80px; left: 80px; }
  .indus-box-5{ left: 110px; top: 60px; }
  .indus-box-6{ top: 40px; }
  .indus-box-7{ right: 40px; }
  .indus-box-8{ top: 40px; right: 80px; }
  .industries-card-wrapper{ margin-top: 40px; }
  .dark-mode-hover-icon, .light-mode-hover-icon{ width: 28px; height: 28px; }
  .nav-theme-change-icon{ width: 40px; height: 40px; font-size: 28px; line-height: 28px; }
  .navbar-hamburger-effect{ padding: 10px; width: 48px; height: 48px; }
}

@media (max-width: 1439px) {
 .container { max-width: calc(1056px + 36px); }   
  h1, .h1 { font-size: 46px; line-height: 54px; }
  h2, .h2 { font-size: 36px; line-height: 44px; margin-bottom: 16px; }
  h3, .h3 { font-size: 32px; line-height: 40px; }
  h4, .h4 { font-size: 32px; }
  h5, .h5 { font-size: 28px; }
  h6, .h6 { font-size: 20px; line-height: 28px; }

  .text-20{ font-size: 16px; line-height: 22px; }
  .text-18{ font-size: 14px; line-height: 20px; }

  .hm-hero-stats-wrapper{ gap: 50px; }
  .hm-services-content-wrapper .h6{ font-size: 16px; line-height: 22px; }
  .hm-services-content-wrapper{ margin-bottom: 20px; width: 350px; padding-left: 12px;  }
  .hm-hero-row-1-wrapper{ margin-top: 40px; }
  .home-heart{ width: 280px; object-fit: contain; }
  .home-brain{ width: 350px; object-fit: contain; }
  .home-handshake{ width: 350px; height: auto; object-fit: contain; }
  .hm-hero-subtitle{ padding-bottom: 30px; }
  .hm-hero-redirect-link img{ width: 20px; height: 20px; }
  .hm-hero-text-left{ width: 400px; }

  /* testimonial */
  .hm-testimonial-left-text h2{ width: 380px; }
  .hm-testimonial-left-text p{ width: 625px; }
  .testimonial-cards-wrapper{ width: 625px; }
  .client-initital .h6{ font-size: 16px; line-height: 24px; }
  .testimonial-svg{ width: 20px; height: 20px; }
  .tst-swiper-arrow-wrapper{ margin-top: 30px; }
  .testimonial-swiper-arrow{ padding: 10px; border-radius: 12px; }
  .client-initital span{ display: flex; align-items: center; justify-content: center; padding: 10px 12px; border-radius: 12px; }
  .client-initital .h6{ font-size: 14px; line-height: 20px; }
  .hm-testimonial-txt-wrapper{ gap: 55px; }
  .testimonialreview-main{ width: 300px; height: 300px; }
  .testimonial-image-2{ width: 100px; height: 100px; }
  .testimonial-image-3{ width: 80px; height: 80px; }

  /* about us */
  .hm-abt-logo-left{ width: 170px; margin-left: 40px; }
  .hm-abt-pointers-right{ width: 680px; gap: 20px; }
  .hm-abt-text-wrapper p{ width: 525px; }
  .hm-abt-card{ width: 330px; height: 205px; }
  .hm-about-main{ padding: 30px; }

  .hm-abt-logo-left img{ width: 210px; }
  /* .hm-abt-logo-left{ padding-left: 30px; } */
  .hm-abt-card-title{ width: 270px; }
  .hm-abt-card-title p{ gap: 10px; }
  .hm-abt-text-wrapper p{ width: 635px; }
  .hm-abt-text-wrapper p{ width: 720px; }

  .services-detail-text{ margin-top: 25px; }
  .services-card{ width: 250px; height: 340px; }
  .services-text .h6{ font-size: 18px; line-height: 26px; }
  .services-detail-text p:first-child{ height: 60px; }
  .services-detail-text{ margin-top: 20px; }

  .hm-abt-card-title .h6{ font-size: 18px; line-height: 24px; }
  .industries-text-wrapper > span{ font-size: 50px; line-height: 60px; }
  .industries-image-wrapper{ width: 680px; height: 415px; }
  .industries-text-wrapper{ width: 345px; height: 355px; }

  .navbar-hamburger-effect{ width: 45px; height: 45px; }
  .nav-theme-change-icon{ width: 38px; height: 38px; font-size: 28px; line-height: 28px; }
  .rare-logo-wrapper{ width: 150px; }
}

@media (max-width: 1359px) {
 .container { max-width: calc(960px + 36px); }   .section   { padding: 80px 0px; }
  h1, .h1{ font-size: 40px; line-height: 48px; }
  h2, .h2{ font-size: 32px; line-height: 40px; }
  h3, .h3{ font-size: 30px; line-height: 36px; }
  h4, .h4{ font-size: 32px; }
  h5, .h5{ font-size: 28px; }
  h6, .h6{ font-size: 22px; }
  .text-20{ font-size: 16px; line-height: 20px; }
  .text-14{ font-size: 12px; line-height: 20px; }

  .home-hero-banner-image{ right: 350px; width: 300px; align-items: flex-start; margin-top: 50px; }
  .hm-services-subtitle.show{ padding-top: 8px; }
  .home-brain{ width: 300px; object-fit: contain; }
  .home-heart{ width: 240px; object-fit: contain; }
  .hm-services-title img{ width: 18px; }
  .hm-services-content-wrapper{ width: 320px; margin-bottom: 15px; }
  .hm-hero-row-1-wrapper{ margin-top: 50px; align-items: flex-start; }
  .hm-hero-text-left h1{ margin-bottom: 16px; }
  .hm-hero-subtitle{ padding-bottom: 25px; }
  .hm-hero-text-left{ width: 360px; }
  .hm-hero-paragraph-wrapper{ gap: 12px; padding-bottom: 20px; }

  /* testimonial */
  .hm-testimonial-left-text h2{ width: 350px; }
  .hm-testimonial-left-text p, .testimonial-cards-wrapper{ width: 560px; }

  .testimonial-client-text{ font-size: 12px; line-height: 20px; }
  .testimonialreview-main{ width: 290px; height: 290px; }
  .testimonial-image-2{ width: 80px; height: 80px; bottom: 40px; }
  .testimonial-image-3{ width: 60px; height: 60px; top: 40px; }

  .tst-swiper-arrow-wrapper{ margin-top: 35px; }

  /* About Section */
  .hm-about-main{ padding: 20px; }
  .hm-abt-logo-left img{ width: 175px; }
  .hm-abt-card-title{ width: 242px; }
  .hm-abt-card{ width: 300px; height: 250px; }
  .hm-abt-pointers-right{ width: 625px; }
  .hm-abt-card-title .h6{ width: 80%; }
  .testimonial-stats{ width: 120px; }


  /* services */
  .services-text .h6{ font-size: 14px; line-height: 22px; }
  .services-detail-text p:first-child{ height: 80px; }
  .services-card{ width: 225px; height: 360px; }
  .services-art-board{ width: 200px; height: 200px; }

  .industries-image-wrapper{ width: 645px; height: 385px; }
  .industries-text-wrapper{ width: 280px; height: 355px; }
  .industries-text-wrapper > span{ font-size: 40px; line-height: 50px; }
  .indus-box-50{ width: 35px; height: 35px; }
  .indus-box-40{ width: 25px; height: 25px; }
  .indus-box-30{ width: 15px; height: 15px; }
  .indus-box-2{ top: 70px; }
  .indus-box-3{ top: 35px; left: 35px; }
  .indus-box-4{ top: 70px; left: 70px; }
  .indus-box-5{ top: 55px; left: 95px; }
  .indus-box-6{ top: 35px; }
  .indus-box-7 { right: 35px; }
  .indus-box-8{ top: 35px; right: 70px; }

  .abt-section-wrapper {
    -webkit-mask-image: linear-gradient(to top, #0000, #000 0% 100%, #0000), linear-gradient(to right, #0000, #000 0% 100%, #0000);
    mask-image: linear-gradient(to top, #0000, #000 0% 100%, #0000), linear-gradient(to right, #0000, #000 0% 100%, #0000);
}
} 

@media (max-width: 1199px) {
 .container { max-width: calc(800px + 36px); }  
  h1, .h1{ font-size: 46px; line-height: 54px; }
  h2, .h2{ font-size: 40px; line-height: 48px; }
  h3, .h3{ font-size: 32px; }
  h4, .h4{ font-size: 32px; }
  h5, .h5{ font-size: 28px; }
  h6, .h6{ font-size: 22px; }

  .text-18{ font-size: 18px; line-height: 26px ; }

  .hm-hero-text-left{ width: 495px; }
  .for-desktop{ display: none; }
  .hm-services-paragrph{ opacity: 1; }
  .hm-services-content-wrapper{ display: flex; align-items: center; text-align: center; justify-content: center; flex-direction: column; gap: 10px; opacity: 1; }
  .hm-hero-row-1-wrapper{ flex-direction: column; gap: 20px; justify-content: space-between;  align-items: flex-start; width: 100%; }
  .home-hero-services-highlight-wrapper{ flex-direction: column; margin-top: 0; align-items: center; gap: 20px; width: 100%; justify-content: center; }
  .hm-services-content-wrapper .h6{ font-size: 26px; line-height: 34px; }
  .hm-services-title img{ width: 26px; }
  .hm-services-content-wrapper{ width: 435px;  }
  .hm-services-left{ width: 600px; height: 400px; position: relative; justify-content: center; }
  .home-hero-banner-image{ width: 600px; height: 350px; top: 0; left: 50%; position: static; }
  .home-hero-banner-image img{ width: 100%; height: 100%; object-fit: contain; }
  .home-hero-services-highlight-wrapper.for-tablet{ display: flex !important; }
  .home-hero-wrapper-desktop{ display: none; }
  /* .hm-hero-stats{ width: 100%; } */
  .hm-hero-text-left{ width: 100%; }
  .hm-hero-stats-wrapper{ gap: 45px; width: 100%; justify-content: space-between; margin-top: 10px; margin-bottom: 30px; }
  .hm-hero-text-left h1, .hm-hero-paragraph-wrapper{ width: 80%; }
  .hm-hero-row-1-wrapper{ margin-top: 0; }
  .home-hero-wrapper-tablet{ display: flex; }

  /* testimonial section */
  .hm-testimonial-left-text h2{ width: 100%; }
  .hm-testimonial-left-text{ flex-direction: column; }
  .testimonial-stats{ width: 180px; }

  .hm-testimonial-txt-wrapper{ flex-direction: column; gap: 30px; }
  /* .hm-testimonial-left-text{ width: 90%; } */

  .testimonial-review-video-wrapper{ width: 450px; }
  .testimonial-review-wrapper{ flex-direction: column; align-items: center; }
  .testimonial-cards-wrapper{ width: 100%; }
  .client-initital span.h6{ font-size: 22px; line-height: 30px; }
  /* .client-name-designation .text-18{ font-size: 12px; line-height: 12px; } */

  .testimonialreview-main{ width: 450px; height: 350px; }
  .testimonialreview-main img{ object-fit: cover; border-radius: 20px; object-position: top; }
  .testimonial-image-2{ width: 140px; height: 140px; left: -60px; }
  .testimonial-image-3{ width: 120px; height: 120px; right: -60px; }

  /* .testimonial-stats p{ font-size: 18px; line-height: 26px; } */

  /* About Section */

  .hm-abt-text-wrapper{ flex-direction: column; }
  .hm-abt-text-wrapper h2{ width: 100%; margin-bottom: 14px; }
  .hm-abt-text-wrapper p{ width: 100%; }
  .hm-abt-card-title .h6{ width: 100%; }

  .hm-abt-card-wrapper{ flex-direction: column; margin-top: 50px; gap: 30px; }

  .hm-abt-pointers-right{ width: 100%; flex-wrap: wrap; }
  .hm-abt-card{ width: 390px; height: 275px; }
  .hm-abt-card-title{ width: 100%; }
  .hm-abt-logo-left{ padding-left: 0; margin-left: 0; width: max-content; height: max-content; }
  .hm-abt-pointers-right .liquidGlass-wrapper{ width: max-content; }

  .hm-about-main{ padding: 30px; }

  .testimonial-stats{ width: 100%; }
  .testimonial-stats-wrapper{ width: 100%; justify-content: space-between; }

  .services-card{ width: 100%; height: 310px; display: flex; align-items: center; }
  .services-text{ padding: 30px; }
  .services-detail-text{ width: 80%; }
  .services-text h3{ margin-bottom: 10px; }
  .services-art-board{ width: 220px; height: 220px; left: 80%; }
  .services-detail-text p:first-child{ height: max-content; margin-bottom: 10px; }
  .services-text .h6{ font-size: 22px; line-height: 30px; }
  .services-card-wrapper{ margin-top: 30px; flex-direction: column; }
  .hm-services-title-wrapper h2{ width: 60%; margin: 0 auto; }
  .hm-services-title-wrapper p{ width: 80%; margin: 0 auto; margin-top: 20px; }
  /* .hm-services-title-wrapper{ text-align: left; } */
  .hm-abt-card-title .h6{ font-size: 22px; line-height: 30px; }

  .industries-card-wrapper{ flex-direction: column; align-items: flex-start; gap: 40px; }
  .industries-text-wrapper{ width: 100%; height: max-content; gap: 20px; }
  .industries-image-wrapper{ width: 100%; height: 910px; }
  .industries-text-wrapper > span{ font-size: 50px; line-height: 60px; }
  .industries-text-wrapper p{ width: 80%; }

  .rare-logo-wrapper{ width: 130px; }

  .element-box-tablet{ width: 80%; height: 300px; }
  .hm-services-title-tab{ padding: 6px 20px; height: max-content !important; }
  .services-highlight-tablet{ position: relative; min-height: 120px; width: 80%; margin: 0 auto; }
  .hm-services-content-wrapper-tab{ display: none; opacity: 0; pointer-events: none; transition: opacity 0.5s ease-in-out; }
  .hm-services-content-wrapper-tab.active{ display: block; opacity: 1; pointer-events: auto; }
  .services-highlight-content-tab{ width: 100%; align-items: center; display: flex; flex-direction: column; gap: 10px; text-align: center; }
  .hm-about-main{ padding: 0; }

  /* .why-choose-us-for-desktop{ display: none; }
  .why-choose-us-tablet{ display:block; }

  .why-choose-us-image-wrapper{ width: 100%; height: 600px; position: relative; background-color: red; }
  .why-choose-us-image-wrapper img{ position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); overflow: hidden;} */

  .why-choose-us-pointer-wrapper{ flex-direction: column; gap: 30px; margin-top: 30px; }
  .why-choose-us-pointer-cards{ gap: 30px; }
  .why-choose-us-content-wrapper{ display: flex; flex-direction: column-reverse; }
  .why-choose-us-card{ width: 100%; border-bottom: 1px solid #C6C6C6; padding-bottom: 20px; }

  .why-choose-us-eclipse{ z-index: 3; }

  .why-choose-us-image-wrapper{ position: relative; }
  .why-choose-us-images{ width: 100%; height: 400px; margin-top: 30px; background-color: red; }

  .why-choose-us-eclipse-1{ width: 180px; }
  .why-choose-us-eclipse-2{ width: 280px; }
  .why-choose-us-eclipse-3{ width: 380px; }
  .why-choose-us-eclipse-4{ width: 480px; }
  .why-choose-us-eclipse-5{ width: 580px; }
  .why-choose-us-eclipse-6{ width: 680px; }
  .why-choose-us-eclipse-7{ width: 780px; }
  .why-choose-us-eclipse-8{ width: 880px; }
  /* .why-choose-us-eclipse{ width: 180px; } */
  .why-choose-us-hand-image img{ width: 240px; }

  .why-choose-us-text-wrapper{ width: 100%; }
} 

@media (max-width: 1023px) {
 .container { max-width: calc(704px + 36px); }
  /* h1, .h1 { font-size: 60px; line-height: 68px; } */
  h2, .h2 { font-size: 38px; line-height: 46px; }
  h3, .h3 { font-size: 30px; }
  h4, .h4 { font-size: 32px; }
  h5, .h5 { font-size: 28px; }
  h6, .h6 { font-size: 22px; line-height: 30px; }
  .text-18{ font-size: 16px; line-height: 24px; }

  .testimonial-client-text{ font-size: 16px; line-height: 24px; }
  .client-initital span.h6{ font-size: 20px; line-height: 28px; }

  /* .hm-abt-card{ width: 100%; height: 165px; } */
  .hm-abt-card{ width: 342px; height: 285px; }
  .hm-abt-text-wrapper{ gap: 10px; }
  .hm-abt-card-title{ width: 100%; }

  .hm-abt-card-title .h6{ font-size: 22px; line-height: 30px; margin-bottom: 10px; }

  .hm-hero-stats{ width: 150px; }
  .hm-hero-paragraph-wrapper{ margin-top: 20px; }
  .menu-for-responsive.active{ right: 150px; }

  .services-text .h6{ font-size: 18px; line-height: 24px; }

  /* .services-card-wrapper{ flex-direction: column; }
  .services-card{ width: 100%; height: 370px; } */
  .services-art-board{ width: 170px; height: 170px; left: 85%; }
  .services-card{ height: 270px; }
  .services-detail-text p:first-child{ margin-bottom: 7px; }
  .services-detail-text{ width: 90%; }
  .hm-abt-card-title .h6 { width: 90%; }
  .industries-image-wrapper{ height: 840px; }
}

@media (max-width: 991px) {
 .container { max-width: calc(704px + 36px); }
  h1, .h1 { font-size: 40px; line-height: 48px; }
  h2, .h2 { font-size: 34px; line-height: 40px; }
  h3, .h3 { font-size: 30px;  }
  h4, .h4 { font-size: 28px; }
  h5, .h5 { font-size: 24px; }
  h6, .h6 { font-size: 22px; }

  .text-18{ font-size: 16px; line-height: 24px; }

  /* .hm-hero-text-left h1{ width: 400px; } */
  .hm-services-left{ width: 450px; height: 350px; }
  .home-hero-banner-image{ width: 450px; height: 350px; }
  /* .hm-hero-text-left{ width: 580px; } */
  .hm-services-content-wrapper .h6{ font-size: 24px; line-height: 32px; }

  .mobile-menu{ width: 390px; }
  .menu-for-responsive.active{ right: 70px; }

  .hm-abt-card-title .h6{ font-size: 20px; line-height: 26px; width: 80%; }
  .hm-abt-card{ height: 280px; }
  /* .services-detail-text p:first-child{ height: 70px; } */
  .services-card{ height: 270px; }
  .services-art-board{ width: 200px; height: 200px; }
  .hm-services-title-wrapper p{ width: 90%; }

  .industries-text-wrapper > span { font-size: 40px; line-height: 50px; }
  .industries-image-wrapper{ height: 780px; }

  .dark-mode-hover-icon, .light-mode-hover-icon{ width: 26px; height: 26px; }
  .nav-theme-change-icon{ font-size: 26px; }
  .nav-btn-wrapper{ gap: 8px; }
}

@media (max-width: 839px) {
 .container { max-width: calc(640px + 36px); }   .section   { padding: 60px 0px; }
  h1, .h1 { font-size: 38px; line-height: 46px; }
  h2, .h2 { font-size: 30px; line-height: 38px; }
  h3, .h3 { font-size: 28px; line-height: 36px; }
  h4, .h4 { font-size: 28px; }
  h5, .h5 { font-size: 24px; }
  h6, .h6 { font-size: 22px; }

  /* .home-hero-wrapper-desktop{ gap: 20px; } */
  .hm-services-left{ width: 400px; height: 280px; }
  .home-hero-banner-image{ width: 400px; height: 280px; }
  .hm-hero-row-1-wrapper{ gap: 0; }
  .hm-services-content-wrapper .h6{ font-size: 22px; line-height: 30px; }
  .hm-services-title img{ width: 22px; }
  .hm-testimonial-left-text p { width: 80%; }

  /* testimonial */
  .testimonialreview-main{ width: 400px; height: 280px; }
  .testimonial-image-2{ width: 110px; height: 110px; }
  .testimonial-image-3{ width: 100px; height: 100px; }

  .testimonial-review-video-wrapper{ width: 385px; }
  .hm-abt-card{ width: 100%; height: 160px; }
  .hm-abt-pixel{ margin-top: 11px; }
  .testimonialreview-main{ padding: 10px; }
  /* .abt-section-wrapper{ mask-image: linear-gradient(to top, #0000, #000 1% 100%, #0000), linear-gradient(to right, #0000, #000 2% 97%, #0000); }  */

  .services-text .h6{ font-size: 20px; line-height: 28px; }
  .services-card-wrapper{ flex-direction: column; }
  .services-card{ width: 100%; height: 275px; }
  .services-detail-text p:first-child{ margin-bottom: 4px; }
  .services-detail-text{ margin-top: 20px; }
  .services-card{ height: 265px; }
  /* .services-art-board{ width: 220px; height: 220px; } */
  .services-detail-text{ width: 100%; }

  .industries-image-wrapper{ height: 650px; }

  .why-choose-us-eclipse-1{ width: 90px; }
  .why-choose-us-eclipse-2{ width: 160px; }
  .why-choose-us-eclipse-3{ width: 240px; }
  .why-choose-us-eclipse-4{ width: 320px; }
  .why-choose-us-eclipse-5{ width: 400px; }
  .why-choose-us-eclipse-6{ width: 480px; }
  .why-choose-us-eclipse-7{ width: 550px; }
  .why-choose-us-eclipse-8{ width: 800px; }
}

@media (max-width: 767px) {
 .container { max-width: calc(608px + 36px); } 
  h1, .h1 { font-size: 36px; line-height: 44px; }
  h2, .h2 { font-size: 30px; line-height: 38px; }
  h3, .h3 { font-size: 28px; line-height: 36px; }
  h4, .h4 { font-size: 28px; }
  h5, .h5 { font-size: 24px; }
  h6, .h6 { font-size: 22px; }

  .text-18{ font-size: 16px; line-height: 24px; }
  .text-14{ font-size: 14px; line-height: 22px; }
  .hm-services-paragraph{ width: 80%; margin: 0 auto; }
  .hm-hero-stats-wrapper{ width: 100%; }
  .hm-hero-stats{ width: 140px; }
  .hm-hero-paragraph-wrapper{ width: 90%; }

  /* testimonial section */
  /* .testimonial-stats p{ font-size: 16px; line-height: 24px; } */
  .testimonial-stats-wrapper{ width: 100%; gap: 20px; justify-content: space-between; }
  .client-initital span{ width: 50px; height: 50px; }
  .client-initital .h6{ font-size: 18px; line-height: 26px; }
  /* .client-name-designation .text-18{ font-size: 14px; } */
  .testimonial-review-wrapper{ gap: 30px; }
  .client-rating img{ width: 14px; height: 14px; }
  .testimonial-stats{ width: 169px; }

  /* About Section */
  /* .hm-about-main{ padding: 18px; } */
  .hm-abt-card{ height: 180px; }

  .hm-hero-main{ padding-top: 50px !important; }

  .services-text .h6{ font-size: 18px; line-height: 24px; }
  .hm-services-title-wrapper p{ width: 100%; }

  .industries-image-wrapper{ height: 600px; }

  .services-card{ height: 280px; }
  .services-art-board{ left: 80%; }

  .why-choose-us-eclipse-1{ width: 60px; }
  .why-choose-us-eclipse-2{ width: 120px; }
  .why-choose-us-eclipse-3{ width: 190px; }
  .why-choose-us-eclipse-4{ width: 260px; }
  .why-choose-us-eclipse-5{ width: 340px; }
  .why-choose-us-eclipse-6{ width: 420px; }
  .why-choose-us-eclipse-7{ width: 500px; }
  .why-choose-us-eclipse-8{ width: 800px; }
  .why-choose-us-hand-image img{ width: 185px; }

  .why-choose-us-images{ height: 320px; }
}

@media (max-width: 639px) {
 .container { max-width: calc(560px + 36px); }
  /* h2, .h2 { font-size: 28px; line-height: 36px; } */
  h3, .h3 { font-size: 30px; }
  h4, .h4 { font-size: 28px; }
  h5, .h5 { font-size: 24px; }

  .small-text   { font-size: 14px; }
  .hm-services-left{ width: 350px; height: 220px; }
  .home-hero-banner-image{ width: 350px; height: 220px; }
  .hm-services-content-wrapper .h6{ font-size: 20px; line-height: 28px; }
  .hm-hero-stats-wrapper { width: 100%; justify-content: space-between; }
  .hm-services-paragraph{ width: 100%; }
  .hm-hero-stats{ width: 135px; }
  /* .hm-testimonial-left-text{ width: 100%; } */

  /* About Section */
  /* .hm-about-main{ background-image: url(/images/homepage/abt-section-background-grid-mobile.png); background-size: cover; background-repeat: no-repeat; padding: 18px; } */
  
  .hm-abt-card{ height: 180px; }
  .testimonial-stats{ width: 160px; }
  .hm-testimonial-left-text p { width: 90%; }

  .navbar-hamburger-effect{ width: 40px; height: 40px; }
  .nav-theme-change-icon{ width: 40px; height: 40px; font-size: 24px; }
  .dark-mode-hover-icon, .light-mode-hover-icon{ width: 24px; height: 24px; }

  .industries-text-wrapper p{ width: 90%; }


  .why-choose-us-eclipse-1{ width: 60px; }
  .why-choose-us-eclipse-2{ width: 120px; }
  .why-choose-us-eclipse-3{ width: 190px; }
  .why-choose-us-eclipse-4{ width: 260px; }
  .why-choose-us-eclipse-5{ width: 340px; }
  .why-choose-us-eclipse-6{ width: 450px; }
  .why-choose-us-eclipse-7{ width: 800px; }
  .why-choose-us-eclipse-8{ width: 800px; }
  .why-choose-us-hand-image img{ width: 185px; }
}

@media (max-width: 575px) {
 .container { max-width: calc(528px + 36px); }   .section   { padding: 50px 0px; }
  h1, .h1 { font-size: 34px; line-height: 42px; }
  h2, .h2 { font-size: 26px; line-height: 32px; }
  h3, .h3 { font-size: 28px; }
  h4, .h4 { font-size: 26px; }
  h5, .h5 { font-size: 22px; }
  h6, .h6 { font-size: 22px; }

  .small-text   { font-size: 14px; }
  .text-18{ font-size: 14px; line-height: 22px; }
  .hm-services-left{ width: 390px; height: 200px; }
  .home-hero-banner-image{ width: 390px; height: 200px; }
  .hm-hero-stats-wrapper{ margin-top: 0; gap: 20px; width: 100%; justify-content: space-between; }
  .hm-hero-stats{ width: 110px; }
  .link-padding{ padding: 6px 12px; }
  .hm-hero-paragraph-wrapper{ width: 100%; }

  /* .testimonial-stats p{ font-size: 14px; line-height: 22px; } */
  .testimonialreview-main{ width: 350px; height: 250px; }
  .testimonial-image-2{ width: 80px; height: 80px; left: 0; }
  .testimonial-image-3{ width: 80px; height: 80px; right: 0; }

  .hm-abt-card-title .h6{ font-size: 18px; line-height: 26px; margin-bottom: 6px; }
  .hm-abt-card{ padding: 14px; height: 160px; } 
  .hm-abt-pixel{ width: 6px; height: 6px; }
  .services-art-board{ width: 180px; height: 180px; left: 75%; }

  .testimonial-stats{ width: 135px; }
  .hm-testimonial-left-text p { width: 100%; }

  .hm-services-title-wrapper h2{ width: 70%; }
  /* .services-detail-text p:first-child{ height: 40px; } */
  .services-detail-text{ gap: 8px; }
  .services-card{ height: 260px; }

  .industries-image-wrapper{ height: 400px; }
  .hm-abt-pixel{ margin-top: 10px; }

  .testimonial-stars img{ width: 16px; height: 16px; }
  .testimonial-stars{ gap: 3px; }
  .client-initital span.h6{ font-size: 16px; line-height: 24px;  }
  .services-text{ padding: 25px; }
  .services-detail-text{ margin-top: 15px; }
}