/*
 * rare
 * Date: 2026-06-10
 * Generated: 2026-06-10T07:03:31.400Z
 * Responsive Design System — RarePixels
 */

@media (max-width: 1799px) {
 .container { max-width: calc(1360px + 36px); }   .section   { padding: 130px 0px; }
  h1{ font-size: 60px; line-height: 70px; }
  h2   { font-size: 44px; line-height: 52px; }
  h3         { font-size: 38px; line-height: 46px; }
  h4         { font-size: 32px; line-height: 40px; }
  h5         { font-size: 28px; line-height: 36px; }
  h6         { font-size: 22px; line-height: 30px; }

  .hm-services-content-wrapper .h6{ font-size: 20px; line-height: 28px; }
  .hm-services-content-wrapper{ width: 420px; }
  .home-hero-banner-image{ width: 450px; top: -90px; right: 440px; }
  .home-hero-banner-image img{ object-fit: contain; }
  .hm-hero-row-1-wrapper{ margin-bottom: 0; }
  .home-hero-wrapper-desktop{ gap: 30px; }
  .hm-hero-text-left{ width: 460px; }
  .home-heart{ width: 400px; }
  .hm-services-subtitle{ width: 100%; }
}

@media (max-width: 1599px) {
 .container { max-width: calc(1248px + 36px); }   .section   { padding: 110px 0px; }
  h1         { font-size: 56px; line-height: 66px; }
  h2         { font-size: 42px; line-height: 50px; }
  h3         { font-size: 34px; }
  h4         { font-size: 32px; }
  h5         { font-size: 28px; }
  h6         { font-size: 22px; }

  .text-18 { font-size: 16px; line-height: 22px; }
  .hm-services-content-wrapper .h6{ font-size: 18px; line-height: 26px; }
  .hm-services-content-wrapper{ width: 400px; }
  .hm-hero-text-left{ width: 405px; }
  .home-hero-banner-image{ right: 420px; width: 427px; }
  .home-heart{ width: 350px;height: max-content; object-fit: contain; }
  .home-hero-banner-image{ height: 440px; }
}

@media (max-width: 1439px) {
 .container { max-width: calc(1056px + 36px); }   
 .section   { padding: 100px 0px; }
  h1         { font-size: 48px; line-height: 56px; }
  h2         { font-size: 36px; line-height: 44px; }
  h3         { font-size: 34px; }
  h4         { font-size: 32px; }
  h5         { font-size: 28px; }
  h6         { font-size: 22px; }

  .text-20{ font-size: 18px; line-height: 24px; }
  .text-18{ font-size: 14px; line-height: 20px; }

  .hm-hero-stats-wrapper{ gap: 50px; }
  .hm-services-content-wrapper .h6{ font-size: 16px; line-height: 22px; }
  .hm-services-content-wrapper{ margin-bottom: 20px; width: 350px; padding-left: 12px;  }
  .hm-hero-row-1-wrapper{ margin-top: 40px; }
  .home-hero-banner-image{ width: 400px; height: auto; object-fit: contain; right: 325px; top: -35px; }
  .home-heart{ width: 280px; object-fit: contain; }
  .home-brain{ width: 350px; object-fit: contain; }
  .hm-hero-text-left{ width: 395px; }
  .home-handshake{ width: 350px; height: auto; object-fit: contain; }
  .home-hero-banner-image{  width: 400px; height: 300px; right: 330px; object-fit: contain; }
  .hm-hero-text-left{ width: 325px; }
  .hm-hero-subtitle{ padding-bottom: 30px; }
  .hm-hero-redirect-link img{ width: 20px; height: 20px; }
}

@media (max-width: 1359px) {
 .container { max-width: calc(960px + 36px); }   .section   { padding: 80px 0px; }
  h1         { font-size: 44px; line-height: 52px; }
  h2         { font-size: 32px; line-height: 40px; }
  h3         { font-size: 32px; }
  h4         { font-size: 32px; }
  h5         { font-size: 28px; }
  h6         { font-size: 22px; }
  .text-20{ font-size: 16px; line-height: 20px; }

  .home-hero-banner-image{ right: 350px; width: 300px; align-items: flex-start; }
  .home-brain{ width: 300px; object-fit: contain; }
  .home-heart{ width: 240px; object-fit: contain; }
  .hm-services-title img{ width: 18px; }
  .hm-services-content-wrapper{ width: 345px; margin-bottom: 15px; }
  .hm-hero-row-1-wrapper{ margin-top: 30px; }
  .hm-hero-text-left h1{ margin-bottom: 16px; }
  .hm-hero-subtitle{ padding-bottom: 25px; }
}

@media (max-width: 1199px) {
 .container { max-width: calc(800px + 36px); }   .section   { padding: 80px 0px; }
  h1         { font-size: 54px; line-height: 62px; }
  h2         { font-size: 44px; line-height: 52px; }
  h3         { font-size: 32px; }
  h4         { font-size: 32px; }
  h5         { font-size: 28px; }
  h6         { font-size: 22px; }

  .text-18{ font-size: 18px; line-height: 26px ; }

  .hm-hero-text-left{ width: 495px; }
  .for-desktop{ display: none; }
  .hm-services-paragrph{ opacity: 1; }
  .hm-services-content-wrapper{ display: flex; align-items: center; text-align: center; justify-content: center; flex-direction: column; gap: 10px; opacity: 1; }
  .hm-hero-row-1-wrapper{ flex-direction: column; gap: 20px; justify-content: space-between;  align-items: flex-start; width: 100%; }
  .home-hero-services-highlight-wrapper{ flex-direction: column; margin-top: 10px; align-items: center; gap: 20px; width: 100%; justify-content: center; }
  .hm-services-content-wrapper .h6{ font-size: 26px; line-height: 34px; }
  .hm-services-title img{ width: 26px; }
  .hm-services-content-wrapper{ width: 435px;  }
  .hm-services-left{ width: 600px; height: 350px; position: relative; justify-content: center; }
  .home-hero-banner-image{ width: 600px; height: 350px; top: 0; left: 50%; position: static; }
  .home-hero-banner-image img{ width: 100%; height: 100%; object-fit: contain; }
  .home-hero-services-highlight-wrapper.for-tablet{ display: flex !important; }
}

@media (max-width: 1023px) {
 .container { max-width: calc(704px + 36px); }   .section   { padding: 80px 0px; }
  h1         { font-size: 60px; }
  h2         { font-size: 38px; }
  h3         { font-size: 30px; }
  h4         { font-size: 32px; }
  h5         { font-size: 28px; }
  h6         { font-size: 22px; }

}

@media (max-width: 991px) {
 .container { max-width: calc(704px + 36px); }   .section   { padding: 80px 0px; }
  h1         { font-size: 50px; line-height: 58px; }
  h2         { font-size: 30px; font-size: 38px; }
  h3         { font-size: 30px; }
  h4         { font-size: 28px; }
  h5         { font-size: 24px; }
  h6         { font-size: 22px; }

  .hm-hero-text-left h1{ width: 400px; }
  .hm-services-left{ width: 450px; height: 350px; }
  .home-hero-banner-image{ width: 450px; height: 350px; }
  .hm-hero-text-left{ width: 535px; }
  .hm-services-content-wrapper .h6{ font-size: 24px; line-height: 32px; }
  .hm-hero-row-1-wrapper{ margin-top: 15px; }
}

@media (max-width: 839px) {
 .container { max-width: calc(640px + 36px); }   .section   { padding: 60px 0px; }
  h1         { font-size: 48px; line-height: 56px; }
  h2         { font-size: 30px; line-height: 38px; }
  h3         { font-size: 30px; }
  h4         { font-size: 28px; }
  h5         { font-size: 24px; }
  h6         { font-size: 22px; }

  .home-hero-wrapper-desktop{ gap: 20px; }
  .hm-services-left{ width: 400px; height: 280px; }
  .home-hero-banner-image{ width: 400px; height: 280px; }
  .hm-hero-row-1-wrapper{ gap: 0; }
  .hm-services-content-wrapper .h6{ font-size: 22px; line-height: 30px; }
  .hm-services-title img{ width: 22px; }
}

@media (max-width: 767px) {
 .container { max-width: calc(608px + 36px); }   .section   { padding: 60px 0px; }
  h1         { font-size: 46px; line-height: 54px; }
  h2         { font-size: 30px; line-height: 38px; }
  h3         { font-size: 30px; }
  h4         { font-size: 28px; }
  h5         { font-size: 24px; }
  h6         { font-size: 22px; }

  .text-18{ font-size: 16px; line-height: 24px; }
  .hm-services-paragraph{ width: 80%; margin: 0 auto; }
}

@media (max-width: 639px) {
 .container { max-width: calc(560px + 36px); }   .section   { padding: 60px 0px; }
  h1         { font-size: 44px; line-height: 52px; }
  h2         { font-size: 28px; line-height: 36px; }
  h3         { font-size: 30px; }
  h4         { font-size: 28px; }
  h5         { font-size: 24px; }

  .small-text   { font-size: 14px; }
  .hm-services-left{ width: 350px; height: 220px; }
  .home-hero-banner-image{ width: 350px; height: 220px; }
  .hm-services-content-wrapper .h6{ font-size: 20px; line-height: 28px; }
  .hm-hero-stats{ width: max-content; }
  .hm-hero-stats-wrapper { width: 100%; justify-content: space-between; }
  .hm-services-paragraph{ width: 100%; }
}

@media (max-width: 575px) {
 .container { max-width: calc(528px + 36px); }   .section   { padding: 50px 0px; }
  h1         { font-size: 34px; line-height: 42px; }
  h2         { font-size: 26px; line-height: 32px; }
  h3         { font-size: 28px; }
  h4         { font-size: 26px; }
  h5         { font-size: 22px; }
  h6         { font-size: 22px; }

  .small-text   { font-size: 14px; }
  .text-18{ font-size: 14px; line-height: 22px; }
  .hm-services-left{ width: 390px; height: 200px; }
  .home-hero-banner-image{ width: 390px; height: 200px; }
  .hm-hero-stats-wrapper{ gap: 20px; width: 100%; justify-content: space-between; }
  .hm-hero-text-left{ width: 100%; }
  .hm-hero-text-left h1{ width: 310px; }
  .hm-services-paragraph{ width:100%; }
  .link-padding{ padding: 6px 12px; }
}