/*
 * RPD
 * Date: 2026-06-09
 * Generated: 2026-06-09T09:54:31.727Z
 * Responsive Design System — RarePixels
 */
button { position: absolute; left: 50%; bottom: 20px; transform: translateX(-50%); }

@media (max-width: 479px) {
    .container { width: 100%; max-width: 100%; padding: 0 18px; }  .section { padding: 50px 0px; }
    h1, .h1 { font-size: 34px; line-height: 40px; margin-bottom: 14px; }
    h2, .h2 { font-size: 32px; line-height: 38px; }
    h3, .h3 { font-size: 28px; line-height: 34px; }
    h4, .h4 { font-size: 26px; line-height: 32px; }
    h5, .h5 { font-size: 22px; line-height: 28px; margin-bottom: 0; }
    h6, .h6 { font-size: 16px; line-height: 22px; }
    body { font-size: 18px; }
    p { font-size: 14px; line-height: 18px; }

    .hero-content { display: flex; flex-direction: column-reverse; gap: 40px; }

    .site-hero-discrp h1 span { display: block; }
    .site-hero-discrp p { width: 95%; }
    .hero-link-cta { display: inline-block; font-size: 16px; line-height: 18px; background-color: var(--primary); color: var(--all-white); padding: 6px 12px; border-radius: 76px; margin-top: 20px; }
    .cta-arrow { font-size: 12px; display: inline-block; margin-left: 6px; }

    .brand-statistics { display: flex; justify-content: space-between; }
    .stat-item { width: 90px; }
    .stat-item .h5 { color: var(--primary);  }

    .element-box { width: 100%; height: 225px; margin-top: 30px; display: flex; align-items: center; justify-content: center; will-change: contents; }

    .services-highlight { margin-top: 20px; }
    .service-item { width: 100%; margin: 0 auto; display: flex; flex-direction: column; align-items: center; justify-content: center; }
    .service-item .liquidGlass-wrapper { width: max-content; border-radius: 20px; }
    .service-item .liquidGlass-shine { border-radius: 20px; }
    .service-item h5 { width: max-content; padding: 6px 20px; color: var(--primary); font-size: 18px; line-height: 26px; }
    .service-item p { text-align: center; margin-top: 10px; }

    .hero-wrapper { height: 500vh; }
    .scroll-effect-wrapper { position: sticky; top: 50px; }
    .element-box canvas { width: 100%; height: 100%; object-fit: cover; }

    .hm-testimonial-wrapper h2{ margin-bottom: 14px; }
    .hm-testi-stats-wrapper{ display: flex; justify-content: space-between; margin: 30px 0; }

    .hm-testi-stats-wrapper .h5{ margin-bottom: 0; color: var(--primary); }

    .testimonial-client-video-wrapper{ position: relative; }
    .testimonial-client-video{ width: 300px; height: 230px; background-color: var(--testimonial-card-5); padding: 6px; border-radius: 10px; margin: 0 auto;}
    .testimonial-client-video img{ width: 100%; height: 100%; object-fit: cover; object-position: top; border-radius: 10px; }
    .testi-clt-img-2{ width: 90px; height: 90px; position: absolute; bottom: 30px; left: 35px; }
    .testi-clt-img-3{ width: 70px; height: 70px; position: absolute; top: 30px; right: 35px; }

    .testimonial-mobile-swiper{ margin-top: 30px; }
    .hm-testimonial-mobile-card > p{ padding: 20px; border-radius: 20px; }

    .mobile-client-initial{ display: flex; align-items: flex-start; gap: 20px; }
    .mobile-client-initial span{ padding: 12px 13px; border-radius: 10px; }
    .mobile-client-review-wrapper{ margin-top: 14px; display: flex; justify-content: space-between; align-items: flex-start; }
    .mobile-review-rating-wrapper{ display: flex; align-items: center; gap: 4px; }

    .tst-swiper-arrow-wrapper{ margin-top: 30px; display: flex; justify-content: center; align-items: center; gap: 14px; }
    .hm-testimonial-card-1{ background-color: var(--testimonial-card-1); }
    .hm-testimonial-card-2{ background-color: var(--testimonial-card-2); }
    .hm-testimonial-card-3{ background-color: var(--testimonial-card-3); }
    .hm-testimonial-card-4{ background-color: var(--testimonial-card-4); }
    .hm-testimonial-card-5{ background-color: var(--testimonial-card-5); }

    .testimonial-swiper-arrow{ padding: 8px; border-radius: 10px; background-color: var(--primary); cursor: pointer; transition: all 0.5s ease-in; }
    .testimonial-swiper-right:hover { background-color: #061651; }
    .testimonial-swiper-left:hover { background-color: #061651; }
    .testimonial-swiper-left:hover .testimonial-arrow{ fill: var(--primary); }
    .testimonial-swiper-right:hover .testimonial-arrow{ fill: var(--primary); }

    .testimonial-stats{ width: 90px; }

    .client-initial-1{ background-color: var(--testimonial-card-1); }
    .client-initial-2{ background-color: var(--testimonial-card-2); }
    .client-initial-3{ background-color: var(--testimonial-card-3); }
    .client-initial-4{ background-color: var(--testimonial-card-4); }
    .client-initial-5{ background-color: var(--testimonial-card-5); }

    /* About Section */

    .abt-mobile-bg{ padding: 18px; }
    .hm-abt-card-mobile{ display: flex; align-items: flex-start; gap: 10px; padding: 14px; border-radius: 20px;  }
    .hm-abt-pixel{ width: 6px; height: 6px; border-radius: 1px; background-color: var(--primary); margin-top: 9px; }
    .hm-abt-card-text h3{ color: var(--primary); margin-bottom: 6px; }
    .hm-abt-card-text{ width: 100%; }
    .hm-abt-cards-wrapper{ display: flex; flex-direction: column; gap: 20px; }
    .hm-abt-site-logo img{ margin: 30px auto; }
    .hm-abt-title{ margin-bottom: 14px; }

    .abt-grid-wrapper{ display: grid; grid-template-rows: repeat(100, 12px); grid-template-columns: repeat(37, 12px); }
    .abt-background-grid{ width: 12px; height: 12px; border: 1px solid var(--all-white); opacity: 5%; }
    .abt-section-wrapper{ 
        position: absolute;
        /* width: fit-content;  */
        overflow: hidden; 
        mask-image: linear-gradient(to top, transparent, black 5%, black 98%, transparent ), 
                    linear-gradient(to right, transparent, black 1%, black 95%, transparent);
        mask-composite: intersect;
    }

    .abt-mobile-section { position: relative ; overflow: hidden; }
}

@media (max-width: 439px) {
    .container { width: 100%; max-width: 100%; }  .section   { padding: 40px 0px; }
    h1, .h1 { font-size: 34px; }
    h2, .h2 { font-size: 32px; }
    h3, .h3 { font-size: 28px; }
    h4, .h4 { font-size: 26px; }
    h6, .h6 { font-size: 22px; }
    body { font-size: 24px; }

    .text-18{ font-size: 16px; line-height: 24px; }
    .text-14{ font-size: 12px; line-height: 20px; }

    .service-item p { width: 82%; }
    
    .hm-testi-stats-wrapper{ gap: 37px; }
    .testi-clt-img-2{ width: 80px; height: 80px; left: 0px; }
    .testi-clt-img-3{ width: 70px; height: 70px; right: 0px; }
    .mobile-review-rating-wrapper img{ width: 12px; height: 12px; }

    .hm-abt-site-logo img{ width: 150px; }
    .testimonial-client-video{ height: 210px; }

    .abt-grid-wrapper{ grid-template-rows: repeat(40, 12px); grid-template-columns: repeat(31, 12px); }
}

@media (max-width: 400px) {
    .container { width: 100%; max-width: 100%; }  .section   { padding: 40px 0px; }
    h1, .h1 { font-size: 32px; line-height: 38px; }
    h2, .h2 { font-size: 30px; }
    h3, .h3 { font-size: 26px; }
    h4, .h4 { font-size: 24px; }
    h6, .h6 { font-size: 18px; }
    body { font-size: 16px; }

    .stat-item { width: 84px; }
    .hero-content { gap: 35px; }
    .element-box { margin-top: 20px; }
    .service-item p { margin-top: 14px; }
    .services-highlight { margin-top: 10px; }  
    
    .hm-testi-stats-wrapper{ gap: 10px; margin: 20px 0; }
    .testimonial-stats{ width: 80px; }

}

@media (max-width: 374px) {
    .container { width: 100%; max-width: 100%; }  .section   { padding: 40px 0px; }
    h2, .h2 { font-size: 28px; }
    h3, .h3 { font-size: 26px; }
    h4, .h4 { font-size: 24px; }
    h6, .h6 { font-size: 18px; }
    body { font-size: 16px; }

    .hero-link-cta, .element-box { margin-top: 16px; }
    .service-item h5 { font-size: 16px; line-height: 24px; }
    .service-item p { width: 95%; }

    .mobile-client-initial{ gap: 14px; }

    .testimonial-client-video{ width: 270px; height: 180px; }
    .testi-clt-img-2{ width: 70px; height: 70px; left: 0; }
    .testi-clt-img-3{ width: 70px; height: 70px; right: 0; }
}

@media (max-width: 359px) {
    .container { width: 100%; max-width: 100%; }  .section   { padding: 40px 0px; }
    /* h2, .h2 { font-size: 30px; } */
    h3, .h3 { font-size: 26px; }
    h4, .h4 { font-size: 24px; }
    h6, .h6 { font-size: 18px; }
    body { font-size: 16px; }

    .testi-clt-img-2{ width: 70px; height: 70px; left: 0px; top: 90px; }
    .testimonial-client-video{ width: 230px; height: 180px; }
    .testi-clt-img-3{ width: 70px; height: 70px; }
    /* .testi-clt-img-2{  } */
}