@import "tailwindcss";

:root {
	--primary: #ED0180;
	--background: #ffffff;
	--text-black: #000000;
    --border-color: #ffffff;
}


[data-theme="dark"] {
	--primary: #ED0180;
	--background: #000000;
	--text-black: #ffffff;
    --border-color: #000000;
}


body {
	background: var(--background);
	color: var(--foreground);
}

@font-face {
    font-family: 'strichpunkt-rg';
    src: url('../../public/fonts/StrichpunktSans-Regular.woff2') format('woff2'),
    url('../../public/fonts/StrichpunktSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'strichpunkt-md';
    src: url('../../public/fonts/StrichpunktSans-Medium.woff2') format('woff2'),
    url('../../public/fonts/StrichpunktSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'strichpunkt-sb';
    src: url('../../public/fonts/StrichpunktSans-SemiBold.woff2') format('woff2'),
    url('../../public/fonts/StrichpunktSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'strichpunkt-bd';
    src: url('../../public/fonts/StrichpunktSans-Bold.woff2') format('woff2'),
    url('../../public/fonts/StrichpunktSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
  	background: var(--background);
  	color: var(--text-black);
  	font-family: 'strichpunkt-rg';
}

.text-rg { font-family: 'strichpunkt-rg'; font-weight: 200; }
.text-md { font-family: 'strichpunkt-md'; }
.text-sb { font-family: 'strichpunkt-sb'; }
.text-bd { font-family: 'strichpunkt-bd'; }

.container { max-width: calc(1600px + 36px); padding: 0 18px; margin: 0 auto; }
.section{ padding: 150px 0; }

/* h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family: 'strichpunkt-rg'; } */
h1, .h1 { font-size: 64px; line-height: 70px; margin-bottom: 20px; }
h2, .h2 { font-size: 48px; line-height: 54px; margin-bottom: 20px; }
h6, .h6 { font-size: 22px; line-height: 32px; margin-bottom: 16px; }
.text-20 { font-size: 20px; line-height: 30px; }
.text-18 { font-size: 18px; line-height: 24px; }