@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * { @apply border-border outline-ring/50; }
  body { @apply bg-background }
  html { @apply font-sans; }
}

:root {
    --primary: #ED0180;
    /* --text-black: #000000; */

    --all-white: #ffffff;
    --all-black: #000000;
    --border-color: #000000;

    --text-grey: #000000;

    --glass-box-shadow: inset 2px 2px 1px 0 rgba(204, 204, 204, 0.1), inset -1px -1px 1px 1px rgba(204, 204, 204, 0.1);

    --testimonial-card-1: #F5F8F5;
    --testimonial-card-2: #FBF9E9;
    --testimonial-card-3: #FCD4E9;
    --testimonial-card-4: #D5D8E2;
    --testimonial-card-5: #FBF8F5;

    --client-review-bg: #FBF8F5;

    --section-bg: #040E36;
    --blog-text-black: #000000;
    --bg-yellow: #FBF9E9;

    --border-bottom: #C6C6C6;

    --inquiry-form-border: #C6C6C6;

    --placeholder-text: #8C8B8C;

    --why-choose-desktop-box: inset 0 -47px 22px 18px rgba(255, 255, 255, 1);
    --why-choose-mobile-box: inset 0 -45px 15px -3px rgba(255, 255, 255, 1);



    --background: oklch(1 0 0);
    /* --foreground: oklch(0.145 0 0); */
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

[data-theme="dark"] {
	--primary: #ED0180;
	--background: #01030D;
	/* --text-black: #ffffff; */
  --border-color: #ffffff;

  --text-grey: #C6C6C6;

  --glass-box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.1);

  --client-review-bg: #242324;
  --section-bg: #040E36;

  --border-bottom: #424242;
  --blog-text-black: #C6C6C6;

  --why-choose-desktop-box: inset 0 -50px 36px -8px rgb(0, 0, 0);
  --why-choose-mobile-box: inset 0 -52px 32px -6px rgba(0, 0, 0, 1);

  --bg-yellow: #080708;

  --inquiry-form-border: #3C3C3C;

  --placeholder-text: #3C3C3C;
}

/* ::selection { background-color: ; } */

@font-face {
    font-family: 'strichpunkt-rg';
    src: url('../../public/fonts/StrichpunktSans-Regular.woff2') format('woff2'),
    url('../../public/fonts/StrichpunktSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'strichpunkt-md';
    src: url('../../public/fonts/StrichpunktSans-Medium.woff2') format('woff2'),
    url('../../public/fonts/StrichpunktSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'strichpunkt-sb';
    src: url('../../public/fonts/StrichpunktSans-SemiBold.woff2') format('woff2'),
    url('../../public/fonts/StrichpunktSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'strichpunkt-bd';
    src: url('../../public/fonts/StrichpunktSans-Bold.woff2') format('woff2'),
    url('../../public/fonts/StrichpunktSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'strichpunkt-exbd';
    src: url('../../public/fonts/StrichpunktSans-ExtraBold.woff2') format('woff2'),
    url('../../public/fonts/StrichpunktSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../../public/fonts/icon/icomoon.ttf?9q2s0s') format('truetype'),
        url('../../public/fonts/icon/icomoon.woff?9q2s0s') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-service:before {
  content: "\e91c";
}
.icon-automation:before {
  content: "\e90e";
}
.icon-business_center:before {
  content: "\e90f";
}
.icon-call:before {
  content: "\e910";
}
.icon-code_xml:before {
  content: "\e911";
}
.icon-conversion_path:before {
  content: "\e912";
}
.icon-crowdsource:before {
  content: "\e913";
}
.icon-diamond_shine:before {
  content: "\e914";
}
.icon-draw:before {
  content: "\e915";
}
.icon-info:before {
  content: "\e916";
}
.icon-mail:before {
  content: "\e917";
}
.icon-newsmode:before {
  content: "\e918";
}
.icon-note_stack:before {
  content: "\e919";
}
.icon-other_houses:before {
  content: "\e91a";
}
.icon-support_agent:before {
  content: "\e91b";
}
.icon-youtube:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-threads:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-deliver-svg:before {
  content: "\e907";
}
.icon-strategy-process:before {
  content: "\e906";
}
.icon-refine-process:before {
  content: "\e901";
}
.icon-create-process:before {
  content: "\e903";
}
.icon-discover-process:before {
  content: "\e904";
}
.icon-engineer-process:before {
  content: "\e905";
}
.icon-dark-mode-icon:before {
  content: "\1f32b";
}
.icon-light-mode-icon:before {
  content: "\e902";
}
.icon-hero-cta-arrow:before {
  content: "\e900";
}

body {
    /* background: var(--background); */
    /* color: var(--text-black); */
    font-family: 'strichpunkt-rg';
}

.text-rg { font-family: 'strichpunkt-rg'; font-weight: 200; }
.text-md { font-family: 'strichpunkt-md'; }
.text-sb { font-family: 'strichpunkt-sb'; }
.text-bd { font-family: 'strichpunkt-bd'; }
.text-extra-bold { font-family: 'strichpunkt-exbd'; }

.container { max-width: calc(1600px + 36px); padding: 0 18px; margin: 0 auto; }
.container-sm { max-width: calc(1440px + 36px); padding: 0 18px; margin: 0 auto; }  
.section{ padding: 120px 0; }

/* h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family: 'strichpunkt-sb'; } */
h1, .h1 { font-size: 64px; line-height: 70px; margin-bottom: 20px; }
h2, .h2 { font-size: 48px; line-height: 54px; margin-bottom: 20px; }
h3, .h3 { font-size: 38px; line-height: 46px; margin-bottom: 20px; }
h4, .h4 { font-size: 32px; line-height: 40px;  }
h5, .h5 { font-size: 28px; line-height: 34px; }
h6, .h6 { font-size: 22px; line-height: 32px; margin-bottom: 16px; }
.text-20 { font-size: 20px; line-height: 30px; }
.text-18 { font-size: 18px; line-height: 24px; }
.text-14 { font-size: 14px; line-height: 22px; }
.text-upper-case{ text-transform: uppercase; }

/* LIQUID GLASS STYLES START */

.liquidGlass-wrapper { position: relative; display: flex; overflow: hidden; transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2); }
.liquidGlass-effect { position: absolute; z-index: 0; inset: 0; backdrop-filter: blur(3px); filter: url(#glass-distortion); overflow: hidden; }
.liquidGlass-shine { position: absolute; inset: 0; z-index: 2; overflow: hidden; border-radius: 20px; }
.liquidGlass-text { z-index: 3; }

/* LIQUID GLASS STYLES END */

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

/* ::-webkit-scrollbar { display: none; }
html { scrollbar-width: none; }
body { -ms-overflow-style: none; } */